{
	"printWidth": 120,
	"useTabs": true,
	"tabWidth": 4,
	"semi": false,
	"singleQuote": true,
	"quoteProps": "preserve",
	"jsxSingleQuote": false,
	"trailingComma": "none",
	"bracketSpacing": true,
	"jsxBracketSameLine": true,
	"arrowParens": "avoid",
	"endOfLine": "auto",
	"overrides": [
		{
			"files": ["*.yaml", "*.yml"],
			"options": {
				"tabWidth": 2
			}
		}
	]
}
